<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a50001_1d_hawkeye">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo_cover_page"
        android:label="Hawk Eye"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SearchByRankDetails"></activity>
        <activity android:name=".BigEventsRank" android:screenOrientation="portrait"/>
        <activity android:name=".SportsRank" android:screenOrientation="portrait"/>
        <activity android:name=".StudyRank" android:screenOrientation="portrait"/>
        <activity android:name=".DiningRank" android:screenOrientation="portrait"/>
        <activity android:name=".Location" android:screenOrientation="portrait"/>
        <activity android:name=".Blk61Lvl1" android:screenOrientation="portrait"/>
        <activity android:name=".Blk61" android:screenOrientation="portrait"/>
        <activity android:name=".Blk57Lvl2" android:screenOrientation="portrait"/>
        <activity android:name=".Building2Lvl1" android:screenOrientation="portrait"/>
        <activity android:name=".Building1Lvl3" android:screenOrientation="portrait"/>
        <activity android:name=".Building1Lvl2" android:screenOrientation="portrait"/>
        <activity android:name=".Building1Lvl1" android:screenOrientation="portrait"/>
        <activity android:name=".Building3Lvl2" android:screenOrientation="portrait" />
        <activity android:name=".Building3Lvl1" android:screenOrientation="portrait"/>
        <activity android:name=".Blk57" android:screenOrientation="portrait"/>
        <activity android:name=".Building3" android:screenOrientation="portrait"/>
        <activity android:name=".Building2" android:screenOrientation="portrait"/>
        <activity android:name=".Building1" android:screenOrientation="portrait"/>
        <activity android:name=".SearchByRank" android:screenOrientation="portrait"/>
        <activity android:name=".SearchByMap" android:screenOrientation="portrait"/>
        <activity android:name=".SearchByKey" android:screenOrientation="portrait" />
        <activity android:name=".SearchType" android:screenOrientation="portrait" />
        <activity android:name=".LoginPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>